/* CSS Document */

html, body {
	margin: 0;
	padding: 0;	
	height: 100%;
}

body {
	background-image: url('../images/back.png');
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #ffffff;
}

#left {
	float: left;
	color: #ffffff;
	height: 80%;
	width: 200px;
	font-size: 24px;
	margin-left: 20%;
	bottom: 0;
	text-align: left;
}

#left>div {
	margin-top: 20px;
}
#top {
	float: left;
	color: #ffffff;
	height: 200px;
	width: 100%;
	bottom: 0;
	text-align: center;
	/*background-color: rgba(255,255,255,0.05);*/
}

#top>div {
	margin-top: 20px;
}
#right {
	float: left;
	width: 50%;
	overflow: hidden;
}

#right>div {
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%
}

ptitle {
	color: #008080;
	font-family: 'Roboto', serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
	font-size: 72px;
}
.nav_link {
	float: left;
	font-family: 'Roboto', serif;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #ffffff;
	/*border-right: solid 1px #ffffff;*/
	cursor: pointer;
}
.nav_link2 {
	float: left;
	font-family: 'Roboto', serif;
	width: 100%;
	height: 50px;
	line-height: 50px;
	/*border-right: solid 1px #ffffff;*/
	cursor: pointer;
}
a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#left a:hover {
	text-decoration: none;
}